#admin-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
  background: #ffffffbb;
  padding: 6px 10px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  border: 1px solid #ddd;
  transition: 0.2s;
}
#admin-icon:hover {
  transform: scale(1.2);
}
